Bottleneck
PyQt5
astropy
bayesian-optimization
bokeh
cartopy
cython
datashader
graphviz
h5py
ipywidgets
jax
jaxlib
joblib
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nibabel
nose
numba
numdifftools
opencv-python
pandas
pillow
pims
pomegranate
pydotplus
pymc3
pyproj
pystan
recordclass
ruamel.yaml
ruptures
scikit-image
scikit-learn
scipy
seaborn
six
sklearn
statsmodels
sympy
tensorflow-addons
tqdm
trackpy
umap-learn
uncertainties
xarray
xgboost
