astropy
bayesian-optimization
bokeh
Bottleneck
cartopy
cython
datashader
graphviz
h5py
iminuit
ipywidgets
jax
jaxlib
joblib
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nose
numba
numdifftools
numpy
opencv-python
pandas
pyarrow
pillow
pims
pomegranate
pymc
pyproj
PyQt5
pystan
recordclass
ruptures
scikit-image
scikit-learn
scipy
seaborn
six
statsmodels
sympy
tqdm
trackpy
uncertainties
uproot
xarray
xgboost
