astropy
git+https://github.com/fmfn/BayesianOptimization
bokeh
Bottleneck
cartopy==0.21.0
cython
datashader
graphviz
h5py
iminuit
ipywidgets
jax==0.4.3
jaxlib==0.4.3
joblib
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nose
numba
numdifftools
numpy
opencv-python
pandas
pillow
pims
pomegranate
pydotplus
pymc
pyproj
PyQt5
pystan
recordclass
ruptures
scikit-image
scikit-learn
scipy
seaborn
six
statsmodels
sympy
tqdm
trackpy
uncertainties
uproot
xarray
xgboost
