# As specified by:
# https://www.tensorflow.org/install/source#gpu
# https://github.com/pytorch/pytorch/wiki/PyTorch-Versions
tensorflow==2.13.0
torch==2.0.0
torchvision==0.15.1
torchtext==0.15.1
torchaudio==2.0.1
