astropy
bayesian-optimization
bokeh
Bottleneck
cython
datashader
graphviz
h5py
jax
jaxlib
joblib
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nibabel
nose
numba
numdifftools
opencv-python
pandas
pillow
pims
pomegranate
pydot
pydotplus
pymc3
pyproj
PyQt5
pystan
recordclass
ruamel.yaml
ruptures
scikit-image
scikit-learn
scikit-optimize
scipy
seaborn
six
sklearn
statsmodels
sympy
tensorflow-addons
tqdm
trackpy
umap-learn
uncertainties
xarray
xgboost
