astropy
git+https://github.com/fmfn/BayesianOptimization
bokeh
Bottleneck
cython
datashader
graphviz
h5py
git+https://github.com/scikit-learn-contrib/hdbscan
jax==0.4.26
jaxlib==0.4.26
joblib
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nibabel
nose
numba
numdifftools
opencv-python
pandas
pyarrow
pillow
pims
pomegranate
pydot
pydotplus
pymc
pyproj
PyQt5
pystan
recordclass
ruamel.yaml
ruptures
scikit-image
scikit-learn
scikit-optimize
scipy
seaborn
six
statsmodels
sympy
tensorflow-addons
tqdm
trackpy
umap-learn
uncertainties
xarray
xgboost
