astropy
pysimdjson
bayesian-optimization
bokeh
Bottleneck
cython
datashader
graphviz
h5py
hdbscan
jax
jaxlib
joblib
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nibabel
nose
numba
numdifftools
opencv-python
pandas
pyarrow
pillow
pims
pomegranate
pydot
pydotplus
pymc
pyproj
PyQt5
pystan
recordclass
ruamel.yaml
ruptures
scikit-image
# hdbscan does not support 1.8 yet due to
# https://github.com/scikit-learn-contrib/hdbscan/issues/695
scikit-learn>=0.20,<1.8
scikit-optimize
scipy>=1.0
seaborn
six
statsmodels
sympy
tqdm
trackpy
umap-learn
uncertainties
xarray
xgboost
