astropy
bayesian-optimization
bokeh
Bottleneck
cartopy==0.18.0
cython
datashader
graphviz
healpy
h5py
ipywidgets
jax
jaxlib
joblib
jwst==1.3.2
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nose
numba
numdifftools
numpy
opencv-python
pandas
pillow
pims
pomegranate
pydotplus
pymc
pyproj
PyQt5
pystan
recordclass
ruptures
scikit-image
scikit-learn
scipy
seaborn
six
sklearn
statsmodels
sympy
tqdm
trackpy
uncertainties
xarray
xgboost