astropy
bayesian-optimization
bokeh
Bottleneck
cartopy
cython
datashader
graphviz
healpy
h5py
ipywidgets
jax
jaxlib
joblib
jwst
lightgbm
mlxtend
nbconvert
nbi-stat
netCDF4
nose
numba
numdifftools
numpy
opencv-python
pandas
pyarrow
pillow
pims
pomegranate
pyparsing
pymc
pyproj
PyQt5
pystan
recordclass
ruptures
scikit-image
scikit-learn
scipy
seaborn
six
statsmodels
sympy
tqdm
trackpy
uncertainties
xarray
xgboost
